body{
  background: lightpink url(https://image.shutterstock.com/image-photo/flowers-wall-background-amazing-red-260nw-600789497.jpg);
  height:250px;
  width: 1000px;
  align-content: center;
}
h1{
  font-size: 100px;
  text-align: center;
  color: white;
}
.intro{
  font-size: 40px;
  color: rgb (13, 88, 59);
}
p{
  color: rgb(11, 94, 87)
}